---
page_title: "sealos_cluster Resource - terraform-provider-sealos"
subcategory: ""
description: |-

---

# sealos_cluster (Resource)

Provides an Sealos cluster resource.

## Example Usage
{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
